body, #wb-bc {
  background: none !important;
}

.title-banner {
  padding: 0 10px 15px;
  background-color: #0e4164;
  color: #eaebed;
  .container p a {
    color: #f2f2f2 !important;
    &:hover {
      color: #3fa9f5 !important;
    }
  }
}

.container {
  p a {
    color: #135684 !important;
  }
  h2 {
    color: #0e4164;
  }
}

.containerMod {
  padding: 1% 10% 2% 2% !important;
}

main {
  margin: auto !important;
}

#wb-cont {
  color: #eaebed;
  border-bottom: none!important;
}

/**Desktop menu**/

#wb-sm {
  background-color: #eaebed !important;
  .menu > li {
    > a {
      color: #0e4164 !important;
      border-left: 1px solid #0e4164 !important;
      text-shadow: none;
      &:hover {
        background-color: #bdccd4 !important;
      }
    }
    &.active > a {
      background-color: #bdccd4 !important;
    }
  }
}

.wb-menu .sm {
  background-color: #bdccd4 !important;
  border: none;
}

/*Mobile menu**/

#mb-pnl {
  .sm-pnl {
    background-color: #eaebed !important;
    color: #0e4164 !important;
    summary {
      color: #0e4164 !important;
      &:hover {
        color: #0e4164 !important;
      }
    }
    a {
      color: #0e4164 !important;
    }
  }
  .info-pnl, &.modal-content {
    background-color: #135684 !important;
  }
}

footer {
  background-color: #eaebed;
  color: #0e4164;
}

.actionBtn {
  color: #0e4164 !important;
  border-radius: 5px;
  &:hover {
    background-color: #bdccd4 !important;
    border: 1px solid #999;
  }
}

/****Tabs****/

.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
  h2 {
    color: #135684 !important;
  }
  h4 {
    margin: 4px 0 4px 0 !important;
  }
  li {
    list-style-type: none;
    a {
      color: #135684;
    }
    &:focus {
      background: #ccc;
      background: rgba(204, 204, 204, 0.9);
    }
    &.active {
      background: #fff;
      border-bottom: 0;
      cursor: default;
      padding-bottom: 1px;
      a {
        border-top: 4px solid #666;
        cursor: default;
        padding-top: 6px;
      }
    }
    &.tab-count {
      line-height: normal;
      > div {
        position: relative;
        top: 0.4em;
      }
      .curr-count {
        font-size: 1.5em;
      }
      &:focus {
        background: transparent;
        cursor: default;
      }
    }
  }
  details {
    padding: 0 0;
    summary {
      border: 1px solid #d4d6da;
      padding: 18px;
      overflow: hidden;
      .step-title {
        color: #135684;
        font-size: 26px;
        font-weight: bold;
        margin-left: 63px;
      }
      .step-details {
        padding: 15px 37px 0px;
        float: left;
      }
    }
    .tgl-panel {
      overflow: hidden;
      padding-bottom: 15px;
      margin: 0 auto;
      h4 {
        padding-top: 15px;
      }
      .theme img {
        border: 1px solid #ccc;
      }
    }
    .panel-heading {
      background-color: #bdccd4 !important;
    }
    .lightbox img {
      width: inherit;
    }
    .polyfill {
      input {
        width: 100%;
      }
      .cityeg {
        padding-bottom: 10px;
      }
    }
    .row {
      padding: 20px 0 30px 0;
    }
    &[open] {
      padding-bottom: 0em !important;
      > * {
        margin-left: 0 !important;
      }
      .get-started-circle {
        background-color: #bdccd4;
        color: #0e4164;
      }
    }
  }
}

/**numbers**/

.get-started-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  background-color: #0e4164;
  border: 2px solid #135684;
  color: #bdccd4;
  text-align: center;
  font-size: 23px;
  margin-right: -70px;
  margin-left: 31px;
}

/*Mobile Settings*/
@media screen and (min-width: 480px) {
  /* line 251, gettingstarted.scss */
  .polyfill input {
    width: iherit;
  }
}