/**
 *   Color scheme
 
Almost black - #1a1a1a
Gray - #474747
Bluey blue - #135684
Dark blue - #0e4164
Sky blue - #bdccd4
Lighter sky blue - #eaebed
Light Blue gray - #d4d6da
Almost white - #f2f2f2

*/



/**
 *   General
 */
 body, #wb-bc{
 	background: none !important;
 }

.container p a{
	color: #135684 !important;
}

#wb-cont, .container h2{
	color: #0e4164;
}

#wb-bnr {
	background: #135684 !important;
}

#wb-sm{
	background-color: #eaebed !important;
}

#wb-sm .menu > li > a{
	color: #0e4164 !important;
	border-left: 1px solid #0e4164 !important;
	text-shadow: none;
}

#wb-sm .menu > li > a:hover, #wb-sm .menu > li.active > a{
	background-color: #bdccd4 !important;
}

.wb-menu .sm{
	background-color: #bdccd4 !important;
	border: none;
}

footer{
	background-color: #135684;
	color: #f2f2f2;

}

footer a{
	color: #f2f2f2;
}

#footer-container{
	background-color: #135684;
}


